

/* Please â¤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000;
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}

/* Header */

.hero {
    display: inline-block;
    width: 100%;
    height: 500px;
    position: relative;
}

.diagonal-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 450px;
	color: #fff;
    background: #000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #4e4376,
		#212121,
		#000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #4e4376,
		#212121,
		#000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    z-index: -1;
}

.banner {
    padding: 100px 50px;
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    color: #ffffff;
}

.banner h1 {
    font-family: "Baloo Bhaina", cursive;
	font-size: 100px;
	color: #fff;
}

.banner p {
    font-size: 24px;
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
	padding: 0;
	top:0;
}
.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8167a9 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #000;
	text-align: center;
}
h2{
	/* line-height: 1.2; */
	/* font-weight: 700; */
	color: #000;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}
.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #000;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #000;
	background-color: #eeeeee;
}
body.dark .bg-light {
	background-color: #000 !important;
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #000;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.mydiv {
	padding-top: 2%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8167a9;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}


form {
    display: block;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 15px;
    width:1000px;
    margin: auto;
}

form > p {
    width: 1000px;
    padding: 25px 50px;
}

form > p > label {
    display: inline;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #000;
    width: 200px;
    padding-right: 50px;
    align-content: center;
    float: left;
}

form > p > input {
    border-radius: 10px;
    border-width: 0;
    padding:5px;
    display: inline;
    width: 600px;
}

form > p > select{
    border-radius: 10px;
    border-width: 0;
    padding:5px;
    display: inline-block;
    width: 600px;   
}

form > p > input:focus {
    outline: none;
    border-color: #8167a9;
    border-width: 2px;
}

form > p > select:focus{
    outline: none;
    border-color: #8167a9;
    border-width: 2px;
}

form > p > select > option:focus{
    background-color: #8167a9;
    border-width: 2px;
}


form > input[type="submit"] {
    display: block;
    margin: auto;
    color:#fff;
    width: 100px;
    height: 35px;
    border-width: 0;
    border-radius: 10px;
    background-color: #8167a9;
}


button {
    display: inline-block;
	margin: auto;
	align-content: center;
    color:#fff;
    width: 180px;
    height: 55px;
    border-width: 0;
    border-radius: 10px;
    background-color: #8167a9;
}

.infovalue {
    display: inline-block;
	/* margin: auto;
	align-content: center; */
	text-align: left;
    width: 800px;
    height: 50px;
    border-width: 0;
	border-radius: 10px;
	padding: 15px 10px;
	font-weight: 600;
}

.infolabel {
    display: inline-block;
	/* margin: auto;
	align-content: center; */
	color:#636363;
	font-weight: 600;
    width: 180px;
	height: 50px;
	padding: 15px 10px;
    border-width: 0;
    border-radius: 15px;
    background-color: #e6e6e6;
}